<div class="sidebar well">
{{ site.description }} <br/>
    <a href="http://stackoverflow.com/users/423955/alessandro-da-rugna">
        <img src="http://stackoverflow.com/users/flair/423955.png" width="208" height="58" alt="profile for Alessandro Da Rugna at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Alessandro Da Rugna at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
