{% include header.html %}
{% include navigation.html %}
{% include intro.html %}
<section class="link-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
					 style="display:block; text-align:center;"
					 data-ad-layout="in-article"
					 data-ad-format="fluid"
					 data-ad-client="ca-pub-0441836954856060"
					 data-ad-slot="4140912499"></ins>
				<script>
					 (adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
</section>

<section id="articles">
	<div class="container container-left">
		<div class="col-lg-12">
		{{ content }}
		</div>
	</div>
</section>

<section id="more" class="link-section text-center">
	<div class="container">
        <div class="row">
			<div class="col-lg-8 mx-auto">
			    <h2>More articles</h2>
			  {% if paginator.previous_page %}
				  {% if paginator.previous_page == 1 %}
					<a class="btn btn-default" href="{{ site.baseurl }}/index.html" class="previous">Newer</a>
				  {% else %}
					<a class="btn btn-default" href="{{ site.baseurl }}/page{{ paginator.previous_page }}" class="previous">Newer</a>
				  {% endif %}
			  {% endif %}
			  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
			  {% if paginator.next_page %}
				<a class="btn btn-default" href="{{ site.baseurl }}/page{{ paginator.next_page }}" class="next">Older</a>
			  {% endif %}
			</div>
        </div>
		<div class="row content-section">
			<div class="col-lg-12 mx-auto">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- alessandrodarugna_footer-1_AdSense3_970x90_as -->
				<ins class="adsbygoogle"
					 style="display:inline-block;width:970px;height:90px"
					 data-ad-client="ca-pub-0441836954856060"
					 data-ad-slot="8904337993"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
    </div>
</section>
{% include aboutme.html %}
{% include footer.html %}
